In [10]:
import pandas as pd
import numpy as np 
import random as rd
import seaborn as sns
import matplotlib.pyplot as plt 
import os

### Load Data file

In [11]:
#list all file names 
os.listdir()

['Texas Data Project.ipynb',
 'TX_CD29_BizNotes.csv',
 'TX_CD29_Biz.csv',
 'Texas_District_29.csv',
 'Texas_CD29.csv',
 'Texas_CD29_Notes.csv',
 '.ipynb_checkpoints']

In [36]:
tx_cd29 = pd.read_csv('Texas_District_29.csv')
tx_cd29.head()

In [34]:
#Unique Topics
tx_cd29.Topic.unique()

array(['People', 'Workers', 'Housing', 'Socioeconomic', 'Education'],
      dtype=object)

In [ ]:
#df for each 
ppl = tx_cd29[tx_cd29['Topic']=='People']
wrkers = tx_cd29[tx_cd29['Topic']=='Workers']
housing = tx_cd29[tx_cd29['Topic']=='Housing']
socioec = tx_cd29[tx_cd29['Topic']=='Socioeconomic']
ed = tx_cd29[tx_cd29['Topic']=='Education']

array(['Sex and Age', 'Race', 'Hispanic or Latino and Race',
       'Place of Birth', 'Ancestry', 'Veteran Status',
       'Disability Status of the Civilian Noninstitutionalized Population',
       'Residence 1 Year Ago'], dtype=object)

In [32]:
#Notes for Datafile 
tx_cd29_notes = pd.read_csv('Texas_CD29_Notes.csv')
#pd.set_option('display.max_colwidth', None)
notes = tx_cd29_notes.Notes.astype(str)
# Join the text Series into a single string
#notes = ' '.join(notes)
li_notes = list(notes)

for note in li_notes: 
    print(note)

Source: 2021 American Community Survey 1-Year Estimates
Estimates in the People, Workers, Housing, Socioeconomic, and Education tabs are from the American Community Survey (ACS). The ACS is an annual household survey developed by the U.S. Census Bureau to replace the long form of the decennial census program. Each year, the ACS samples about 3.5 million household addresses to produce nearly 11 billion estimates covering demographic, social, economic, and housing characteristics.
Except where noted, 'race' refers to people reporting only one race.  'Hispanic' refers to an ethnic category;  Hispanics may be of any race.
An '**' entry in the margin of error column indicates that either no sample observations or too few sample observations were available to compute a standard error and thus the margin of error. A statistical test is not appropriate.
An '-' entry in the estimate column indicates that either no sample observations or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest interval or upper interval of an open-ended distribution.
An '-' following a median estimate means the median falls in the lowest interval of an open-ended distribution.
An '+' following a median estimate means the median falls in the upper interval of an open-ended distribution.
An '***' entry in the margin of error column indicates that the median falls in the lowest interval or upper interval of an open-ended distribution. A statistical test is not appropriate.
An '*****' entry in the margin of error column indicates that the estimate is controlled. A statistical test for sampling variability is not appropriate.
An 'N' entry in the estimate and margin of error columns indicates that data for this geographic area cannot be displayed because the number of sample cases is too small.
An '(X)' means that the estimate is not applicable or not available
If calculating a percentage, use the total population line within the section as the denominator. Do not use total population lines from other sections since these may have different universes.

### People

In [41]:
#subjects in people 
ppl.Subject.unique()

array(['Sex and Age', 'Race', 'Hispanic or Latino and Race',
       'Place of Birth', 'Ancestry', 'Veteran Status',
       'Disability Status of the Civilian Noninstitutionalized Population',
       'Residence 1 Year Ago'], dtype=object)

In [91]:
#look at just hispanic 
hispanic = ppl[ppl['Subject'] == 'Hispanic or Latino and Race']
variables = ['Mexican','Puerto Rican', 'Cuban', 'Other Hispanic or Latino']
hispanic

,Topic,Subject,Title,District 29 Estimate,District 29 MOE
28,People,Hispanic or Latino and Race,Total population,"740,023","(+/-26,720)"
29,People,Hispanic or Latino and Race,Hispanic or Latino (of any race),"550,847","(+/-24,754)"
30,People,Hispanic or Latino and Race,Mexican,"443,308","(+/-24,871)"
31,People,Hispanic or Latino and Race,Puerto Rican,"7,775","(+/-4,694)"
32,People,Hispanic or Latino and Race,Cuban,"3,882","(+/-2,104)"
33,People,Hispanic or Latino and Race,Other Hispanic or Latino,"95,882","(+/-13,396)"
34,People,Hispanic or Latino and Race,Not Hispanic or Latino,"189,176","(+/-16,208)"

In [ ]:
#checking numbers 
just_hisp = hispanic.query("Title in ['Mexican','Puerto Rican', 'Cuban', 'Other Hispanic or Latino']")
just_hisp['District 29 Estimate'] = just_hisp['District 29 Estimate'].apply(lambda x: int(x.replace(',', '')))
just_hisp.astype({'District 29 Estimate': 'int'}).dtypes
just_hisp_num = just_hisp['District 29 Estimate'].sum()
just_hisp_num

In [101]:
just_hisp = hispanic.query("Title in ['Mexican','Puerto Rican', 'Cuban', 'Other Hispanic or Latino']")
just_hisp['District 29 Estimate'] = just_hisp['District 29 Estimate'].apply(lambda x: int(x.replace(',', '')))
just_hisp['perc'] = just_hisp['District 29 Estimate']/just_hisp['District 29 Estimate'].sum()
#sns.barplot(x='Title',y='District 29 Estimate', data = just_hisp)
#plt.pie(data, labels = labels, colors = colors, autopct='%.0f%%')
just_hisp

/var/folders/vv/15vmsdzj0d9c0x2z42fx60fr0000gn/T/ipykernel_82241/1770372506.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  just_hisp['District 29 Estimate'] = just_hisp['District 29 Estimate'].apply(lambda x: int(x.replace(',', '')))
/var/folders/vv/15vmsdzj0d9c0x2z42fx60fr0000gn/T/ipykernel_82241/1770372506.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  just_hisp['perc'] = just_hisp['District 29 Estimate']/just_hisp['District 29 Estimate'].sum()

,Topic,Subject,Title,District 29 Estimate,District 29 MOE,perc
30,People,Hispanic or Latino and Race,Mexican,443308,"(+/-24,871)",0.804775
31,People,Hispanic or Latino and Race,Puerto Rican,7775,"(+/-4,694)",0.014115
32,People,Hispanic or Latino and Race,Cuban,3882,"(+/-2,104)",0.007047
33,People,Hispanic or Latino and Race,Other Hispanic or Latino,95882,"(+/-13,396)",0.174063

In [87]:
hispanic = ppl[ppl['Subject'] == 'Hispanic or Latino and Race']
hispanic

,Topic,Subject,Title,District 29 Estimate,District 29 MOE
28,People,Hispanic or Latino and Race,Total population,"740,023","(+/-26,720)"
29,People,Hispanic or Latino and Race,Hispanic or Latino (of any race),"550,847","(+/-24,754)"
30,People,Hispanic or Latino and Race,Mexican,"443,308","(+/-24,871)"
31,People,Hispanic or Latino and Race,Puerto Rican,"7,775","(+/-4,694)"
32,People,Hispanic or Latino and Race,Cuban,"3,882","(+/-2,104)"
33,People,Hispanic or Latino and Race,Other Hispanic or Latino,"95,882","(+/-13,396)"
34,People,Hispanic or Latino and Race,Not Hispanic or Latino,"189,176","(+/-16,208)"