In [10]:
import pandas as pd
import numpy as np 
import random as rd
import seaborn as sns
import matplotlib.pyplot as plt 
import os

### Load Data file

In [11]:
#list all file names 
os.listdir()

['Texas Data Project.ipynb',
 'TX_CD29_BizNotes.csv',
 'TX_CD29_Biz.csv',
 'Texas_District_29.csv',
 'Texas_CD29.csv',
 'Texas_CD29_Notes.csv',
 '.ipynb_checkpoints']

In [9]:
tx_cd29 = pd.read_csv('Texas_District_29.csv')
tx_cd29.head()

    Topic      Subject             Title District 29 Estimate District 29 MOE
0  People  Sex and Age  Total population              740,023     (+/-26,720)
1  People  Sex and Age              Male              381,407     (+/-15,905)
2  People  Sex and Age            Female              358,616     (+/-14,462)
3  People  Sex and Age     Under 5 years               49,249      (+/-5,436)
4  People  Sex and Age      5 to 9 years               54,428      (+/-5,516)

In [ ]:
Texas_CD29_Notes.csv